// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin project-card-component($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .card {
    @media (max-width: 369px) {
      width: 90%;
    }

    @media (min-width: 370px) and (max-width: 419px) {
      width: 300px;
    }

    @media (min-width: 420px) {
      width: 350px;
    }

    margin-bottom: 20px;
    
    mat-card-title-group {
      background-color: mat-color($primary, 100);
      padding: 16px 16px 0 16px;
      border-bottom: 1px solid mat-color($primary, 300);

      mat-card-title {
        color: mat-color($primary, 600);
      }

      mat-card-subtitle > .separator {
        font-size: 16px;
        color: mat-color($accent, 100);
      }

      @media (min-width: 601px) {
        margin-right:-24px;
        margin-left: -24px;
      }

      @media (max-width: 600px) {
        margin-right:-16px;
        margin-left: -16px;
        margin-bottom: -16px;
      }
    }
  }
}
