<div class='heading-row'>
  <div class='heading-container'>
    <div>
      <div class='heading'>brainbolt<span class="accent">.</span>io</div>
    </div>
    <div class='sub-heading'>
        <div class='sub-heading-item'>
            <a href='https://github.com/brainbolt'><mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon></a>
        </div>
        <div class='sub-heading-item divider'>
            <span class="light-accent">|</span>
        </div>
        <div class='sub-heading-item'>
            <a href='https://www.linkedin.com/in/brainbolt'><mat-icon fontSet="fa" fontIcon="fa-linkedin-square"></mat-icon></a>
        </div>
        <div class='sub-heading-item divider'>
            <span class="light-accent">|</span>
        </div>
        <div class='sub-heading-item'>
            <a href='mailto:brandon@brainbolt.io'><mat-icon fontSet="fa" fontIcon="fa-comments-o"></mat-icon></a>
        </div>
    </div>
  </div>
</div>
<div class='projects-heading-row mat-typography'>
  <div class='projects-heading-container'>
    <div class='projects-heading'>Example Projects</div>
  </div>
</div>
<div class='card-row mat-typography'>
  <brainbolt-project-card *ngFor="let proj of projects" [project]="proj"></brainbolt-project-card>
</div>