// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin app-component($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .heading-row {    
    display: flex;
    height: 200px;
    .heading-container {
      margin: auto;
      color: mat-color($primary, 600);
      .heading {
        margin-bottom: 20px;
        font-family: 'Source Code Pro', monospace;
      }
      .accent {
        color: mat-color($accent);
      }
    }

    .sub-heading {
      display: flex;
      font-size: large;

      .sub-heading-item a:link {
        color: mat-color($primary);
      }

      .sub-heading-item a:visited {
        color: mat-color($primary);
      }

      .sub-heading-item a:active {
        color: mat-color($primary);
      }

      .sub-heading-item a:hover {
        color: mat-color($accent, 300);
      }

      .light-accent {
        color: mat-color($accent, 100);
      }
      
      .sub-heading-item {
        margin: auto;  
      }
      
      .divider {
        font-size: small;
      }
    }

  }


  .card-row {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-around; 
    flex-wrap: wrap}
}
